<div>
  <input type="text" name="title" value="{{title}}">
  <input type="text" name="content" value="{{content}}">
  <input type="text" name="author" value="{{author}}">
  <input type="text" name="avatar" value="{{avatar}}">
  <button>Edit</button>
</div>
