<h2>Paintings</h2>

<%= link_to('Back to Moma_App', root_path)%><br>
<%= link_to('Add Painting', new_painting_path)%><br>
<ul>
  <% @paintings.each do |painting| %>
  <li>
    <%= link_to(painting.title, painting_path(painting)) %><br>
    <img src="<%=painting.img_url%>" height="400" width="450">
  </li>
  <% end %>
</ul>
