


<html>
  <head>
    <title>HAMnet</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to HAMnet! </p>


    <h4></h4>
    <p></p>

    <!-- # <form method="POST" action="/add_to_list">
    #   <label>
    #     Full Name:
    #   <input type="text" name="full_name">
    #
    #   </label>
    #   <label>
    #     Email:
    #   <input type="text" name="email">
    #
    # </label>
    #
    #   <input type="submit">
    # </form>
    #
    # <h4>People on the list so far</h4>
    # <% @list.each do |info_hash| %>
    #   <%= info_hash[:name] %>: <%= info_hash[:email] %><br>
    # <% end %> -->

  </body>
</html>
