<h2>Edit Trainer</h2>

<form action="/trainers/<%= @trainer.id %>" method="post">
  <label for="trainer[name]">Name:
  <input name="trainer[name]" value="<%= @trainer.name %>">

  <label for="trainer[age]">Age:
  <input name="trainer[age]" value="<%= @trainer.age %>">

  <label for="trainer[hometown]">Hometown:
  <input name="trainer[hometown]" value="<%= @trainer.hometown %>">

  <input type="submit" value="Update">
</form>
