<h2>New Trainer</h2>

<form action="/trainers" method="post">
  <label for="trainer[name]" method="post">
  Name: <input name="trainer[name]">

  <label for="trainer[age]" method="post">
  Age: <input name="trainer[age]">

  <label for="trainer[hometown]" method="post">
  Hometown: <input name="trainer[hometown]">

  <input type="submit" value="Create">
</form>
