  <h2>Calculator</h2>
  <div class="content-block">
    <form method="post" action="/add">
    <input type="text" name="num1" value="" id="num1"> +
    <input type="text" name="num2" value="" id="num2">
    <input type="submit" value="Add">
    </form>

    <form method="post" action="/subtract">
    <input type="text" name="num1" value="" id="num1"> -
    <input type="text" name="num2" value="" id="num2">
    <input type="submit" value="Subtract">
    </form>

    <form method="post" action="/multiply">
      <input type="text" name="num1" value="" id="num1"> x
      <input type="text" name="num2" value="" id="num2">
      <input type="submit" value="Multiply">
    </form>

    <form method="post" action="/divide">
      <input type="text" name="num1" value="" id="num1"> /
      <input type="text" name="num2" value="" id="num2">
      <input type="submit" value="Divide">
    </form>
  </div>
