<h2> New Image </h2>

<form action="/users" method="post">
  <label for="user[username]">Username:</label>
  <input name="user[username]">

  <label for="user[full_name]">Full name:</label>
  <input type="text" name="user[full_name]">


  <label for="user[birthday]">Birthday:</label>
  <input type="date" name="user[birthday]">

  <input type="submit" value="Create">
</form>
