<!-- <form>
Title: <input type="text" name="title"><br>
Author: <input type="text" name="author">
Avatar: <input type="text" name="avatar">
Content: <input type="text" name="content">
</form> -->

<div class='new-grumble'>
  <form>
    Title: <input type="text" name="title"><br>
    Author: <input type="text" name="author">
    Avatar: <input type="text" name="avatar">
    Content: <input type="text" name="content">
    <input id="submit" type="submit">
  </form>
</div>
