  <input type="text" name="edit-avatar" placeholder="Avatar">{{avatar}}<br>
  <input type="author" name="edit-author" placeholder="Author">{{author}}<br>
  <input type="title" name="edit-title" placeholder="Title">{{title}}<br>
  <input type="content" name="edit-content" placeholder="Content">{{content}}<br>
  <button class="edit-grumble">Edit Grumble</button>
