<input name="author" placeholder="Author">
<input name="title" placeholder="Title">
<input name="avatar" placeholder="Avatar">
<input name="content" placeholder="Content">
<button name="button">Submit</button>
