    <h3>Artist list coming soon!</h3>
    <ul>
      <% @featured_artists.each do |artist| %>
        <li><%= artist %></li>
      <% end %>
  <li><img src="http://www.hdwpapers.com/thumbs/eddie_murphy_singing_wallpaper-t2.jpg"></li><br>

    <li><img src="http://i.kinja-img.com/gawker-media/image/upload/s--fQZiw6ax--/18mj6h78zjm1pjpg.jpg"></li>
  </ul>
