<h2>ADD PHOTO</h2>
<div class="form">
  <form action="/images" method="post">
    <label for="image[author]">Author:</label>
    <input name="image[author]">

    <label for="image[url]">URL:</label>
    <input name="image[url]">

    <label for="image[date_posted]">Date Posted:</label>
    <input name="image[date_posted]">

    <label for="image[caption]">Caption:</label>
    <input name="image[caption]">

    <input type="submit" value="Add Photo">

</div>
