<html>
  <head>
    <link rel="stylesheet" type="text/css" href="poke_style.css">
    <title>POKEMON</title>
  </head>
  <body>
    <h2>POKEMON</h2>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/pokemons">POKEMON</a></li>
      <li><a href="/trainers">TRAINERS</a></li>
    </ul>

    <%= yield %>

  </body>
</html>
