<h3>What is a Pokedex?</h3>
<p>
  Whenever a Pokémon is first captured, its data will be added to a player's Pokédex,
    but in the anime or manga,
   the Pokédex is a comprehensive electronic reference encyclopedia,
   usually referred to in order to deliver exposition.
   of the fictional Pokémon world, Pokédex is used to refer
   to a list of Pokémon, usually a list of Pokémon by number.
   There are three different numbered Pokédex lists to date:
   the National Pokédex, introduced in Pokémon Red and Blue,
   the Johto Pokédex, introduced in Pokémon Gold and Silver, and the Hoenn Pokédex,
   introduced in Pokémon Ruby and Sapphire and expanded in Fire Red and Leaf Green.
   There was also a series of Pokédex toys.
</p>

<h3>Want to see some Pokemon and Trainers?</h3>
<p>
  Select an option above.
</p>
