<html>
  <head>
    <title>Pokedex</title>
  </head>
  <body>
    <h1>Pokedex</h1>
      <h2>You know what time it is? Time to CATCH EM ALL!!!!</h2>
    <a href="/">Home</a>
    <a href="/pokemons">Pokemons</a>
    <a href="/trainers">Trainers</a>
    <%= yield %>
  </body>
</html>
