body {
  background: rgba(150,150,150,.8);
}
#gameboard-container {
  width: 730px;
  height: 625px;
  border-left: 40px solid rgb(5, 70, 172);
  border-right: 40px solid rgb(5, 70, 172);
  padding: 15px 30px 15px 30px;
  background: rgb(255, 210, 69);
  text-align: center;
}

div.column {
  width: 100px;
  height: 600px;
   box-sizing: border-box;
  float: left;
}

div.piece {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 100%;
  float:left;
  margin: 2px;
  background: rgba(250,255,255,.5)
}
div.hover {
  background: rgba(250,255,255,.8)
}

div.red {
  background: rgb(255,0,0);
}
div.black {
  background: rgb(0,0,0);
}
h1 {
  font-size: 50px;
  color: blue;
  font-family: Comic Sans MS;
}
