<h2>New Song</h2>

<form action="/songs" method="post">
  <label for="song[title]">Title:</label>
  <input name="song[title]">

  <label for="song[album]">Album:</label>
  <input name="song[album]">

  <label for="song[preview_url]">Preview Link:</label>
  <input name="song[preview_url]">

  <label for="song[artist_id]">Artist:</label>
  <select name="song[artist_id]">
    <% @artists.each_index do |index| %>
      <option  value="<%= @artists[index].id %>"><%= @artists[index].name %></option>
    <% end %>
  </select>

  <label for="song[price]">Price:</label>
  <input name="song[price]">


  <input type="submit" value="Create">
</form>
