<input name="author" value="{{author}}">
<input name="title" value="{{title}}">
<input name="avatar" value="{{avatar}}">
<input name="content" value="{{content}}">
<button name="button" class="edit-confirm">Submit</button>
