<h1>Tractors</h1>

<h3>One App to Rule Them All</h3>

<%= link_to 'View Our Suite Tractors', tractors_path %>

<p>Have you checked out this tractor?</p>

<%= render partial: 'tractors/tractor', locals: {tractor: @tractor} %>
