<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
  <div id='container'>
    <div id='header'><h1>Pokedex</h1><a href="/">Home</a></div>  
    <%= yield %>
  </div>
</body>
</html>