<h3>Calculator</h3>
<p>Do some Math, courtesy of HAMco</p>

<form method="POST" action="/calc_math">
  <label>
    <p>Pick your first number:</p>
    <input type="text" name="first_num"><br>
  </label>
  <label>
    <p>Choose your operation:</p>
    <select name="operation">
      <option value="add">ADD</option>
      <option value="subtract">SUBTRACT</option>
      <option value="multiply">MUTLIPLY</option>
      <option value="divide">DIVIDE</option>
    </select><br>
  </label>
  <label>
    <p>Pick your second number:</p>
    <input type="text" name="second_num"><br>
  </label>
  <input type="submit">
</form>
