<html>
	<head>
	</head>
	<body>
		<h1>HAMnet Calculator, 50% more accurate than doing it by hand</title/h1>
		<h4>What calculation would you like to perform?</h4>
		<form method="POST" action="/numbers_for_calculation">
			<h4>What number?</h4>
			<input type="integer" name="num1">
			<h4>What operation?</h4>
			<input type="operator" name="operator">
			<h4>What number?</h4>
			<input type="integer" name="num2">
			<input type="submit">
		</form>
	</body>
</html>
