<html>
<body>
	<h1>HAMnet Tip Calculator</title/h1>
		<form method="POST" action="/tip_calculation">
			<h4>How much is the bill?</h4>
			<input type="integer" name="num1">
			<h4>What percent would you like to tip?</h4>
			<input type="operator" name="operator">
			<input type="submit">
		</form>
</body>
</html>