<form action='/' method='get'>
  <input type="text" name="search" placeholder="search">
  <input type="submit" value="enter">
</form>

<p class="name"><%= @weather['name'] %></p>
<img src="http://9to5mac.files.wordpress.com/2011/10/nest-thermostat-003.jpg" alt="">
<div class='circle'>
  <p><%= @weather['main']['temp'] %> F</p>
</div>
