<div id="new-grumble-form">
  <span class="close">X</span>
  <form action="/grumbles" method="POST">
    <input type="text" id="title" placeholder="title">
    <input type="text" id="author"  placeholder="author">
    <input type="text" id="content" placeholder="content">
    <input type="text" id="image" placeholder="image">
    <input type="text" id="avatar" placeholder="avatar">

    <input type="submit" id="add-grumble" value="Add Grumble">
  </form>
</div>
