<h3>New Picture</h3>
<form id="new-pic" action="/images" class="image-form" method="post">
	<label for="image[author]">Author:</label>
	<input type="text" name="image[author]">

	<label for="image[img_url]">URL</label>
	<input type="text" name="image[img_url]">

	<label for="image[caption]">Caption:</label>
	<input type="text" name="image[caption]">

	<label for="image[date_posted]">Date (January 1st. 2014):</label>
	<input type="text" name="image[date_posted]">

	<input type="submit" value="Create" class="form-button">
</form>