<html>
  <head>
    <title>RUNES</title>
  </head>
  <body>
    <h4>RUNES</h4>

    <form action="/search" method="get">
      <input type="text" name="search">
      <input type="submit" value="SEARCH">
    </form>




    <img src="http://maps.googleapis.com/maps/api/streetview?size=1000x1000&location=51.176767,-1.826212">


  </body>
</html>
