<h2>Magic 8 Ball</h2>

<p>
  Enter into the url above a question seperated by %20.
  Example, What%20is%20my%20name
</p>

<form action="/magic/*" method="get">

</form>
<% return magic_response.sample %>
