<h2>The Tip Calculator</h2>

<p>
  In order to get the tip amount, type in the URL above,
  localhost:4567/tip<strong>/amount/percentage</strong>
</p>

<form action="/tip/:original_amount/:tip" method="get">

</form>
