<h2>Welcome to HAMnet!</h2> 
<p>HAMnet is one of the top tech firms on the rise catering to
  users that need assistance in basic calculations and tip calculations. We also
  offer "magic" advice. Choose one of the options that best fits your desire.
</p>
