<h2>Calculator</h2>

<li><a href="welcome">Home</a></li>

<h4>Calculate!</h4>

<form action="/calculate" method="post">
  <label>
    Enter first number
    <input type="text" name="num_1">
  </label>
  <label><br>
    Enter operation
    <input type="text" name="operator">
  </label>
  <label><br>
    Enter second number
    <input type="text" name="num_2">
  </label><br>
  <input type="submit">
</form>
