<h2>Tip Calculator</h2>

<li><a href="welcome">Home</a></li>

<p>
  Find your tip amount by placing the total bill amount and the percentage you
  wish to tip at the end of the URL, and separate by a /.
</p>
