<%= "Total Bill Amount: #{@bill_amount}" %><br>
<%= "Tip Percentage: #{@tip_percentage}%" %><br>
<%= "Amount to Tip: #{@tip_amount}" %><br><br>

<li><a href="tip_calculator">Back to Tip Calculator</a></li>
