<h1>All Paintings</h1>

<%= link_to("Add Paintings", new_painting_path) %>

<ul>
  <% @paintings.each do |painting| %>
  <li>
    <%= painting.title %>
    <img src="<%= painting.img_url %> ">
    <%= link_to "View", painting_path(painting) %>
  </li>
  <% end %>
</ul>
