<h2>About</h2>
  <p>
    <b>Tun.r</b> is a subdivision of <b>HAMco International</b>,
    <br>a multi-conglomerate corporation with endeavors in music, transportation, and home automation services.
  </p>
