<p>
    Hey. Tun.r is the best music service on this side of the galaxy.
</p>

<h4>Early Access List</h4>
<p>Add your name to the early access list for awesome access things.</p>
  <form method="POST" action="/add_to_list">

    <label>
      Full Name:
      <input type="text" name="full_name">
    </label>

    <label>
      Email:
      <input type="text" name="email">
    </label>

      <input type="submit">

  </form>

<!-- :name :email accesses the key/value pair -->
<h4>People already on the list</h4>
<% @list.each do |info_hash|%>
  <%= info_hash[:name] %>: <%= info_hash[:email]%><br>
<% end %>
