<html>
  <head>
    <title>Tun.r</title>
  </head>
  <body>
    <h1>Tun.r</h1>
    <ul>
      <li><a href ="/">Home</a></li>
      <li><a href ="/songs">Songs</a></li>
      <li><a href ="/music">Artists</a></li>
      <li><a href ="/about">About</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
