<div class="tweed">
<h3>new tweed</h3>
<form action="/tweeds" method="post">
  <input name="tweed[author]" placeholder="Who said it?" type="text">
  <input name="tweed[content]" placeholder="What they said?"type="text">
  <input type="text" name="tweed[image_url]" placeholder="pics?">
  <button>tweed</button>
</form>
</div>