<h3>Calculator</h3>

<form action='/calculator-result'>
  <div>
  <label for='first'>First Number
    <input type='text' name='first'>
  </label>
  </div>
  <div>
  <label for='operator'>Operator (add, subtract, multiply, divide)
    <input type='text' name='operator'>
  </label>
  </div>
  <div>
  <label for='second'>Second Number
    <input type='text' name='second'>
  </label>
  </div>
  <input type='submit'>
</form>
