<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HAMnet</title>
  <style>
  body{
    background: url(http://purduecco.files.wordpress.com/2014/03/didnt-read-for-class-internet.gif?w=640);
  }
  #body{
    width:400px;
    height: 400px;
    border: 2px white solid;
    background: lavenderblush;
    text-align: center;
  }
  </style>
</head>
<body>
<div id='body'>
  <img src="http://hamnet.cisarbz.org/lib/exe/fetch.php?media=wiki:banner.png" alt="">
  <h5>Please excuse our appearance, we are still in beta</h5>
  <a href="/welcome">Home</a>
  <%= yield %>
</div>
</body>
</html>