<h3>Magic 8 Ball!</h3>

<h5>Ask me a question, I'll try to answer it for you!</h5>

<h6>This feature is a little wonky:</h6>
<p>To ask a question type the following into the url bar: "/magic/Question%20Formed%20Like%20This"</p>
