<h3>Tip Calculator</h3>

<h4>To calculate a tip do the following in your url bar:</h4>
<ol>
  <li>Put in the total amount</li>
  <li>Insert a slash</li>
  <li>Put in the percentage</li>
  <li>Press Enter</li>
</ol>