<h2>New Grumble</h2>
Author: <input type="text" id="author"><br>
Title: <input type="text" id="title"><br>
Avatar: <input type="text" id="avatar"><br>
Content: <input type="text" id="content"><br>
<input type="submit" value="Create New Grumble" id="submit-button">
