<form id="search" action="/" method="get">
  <input type="text" name="search" placeholder="City Name">
  <input type="submit" value="Search">
</form>
<img src="http://9to5mac.files.wordpress.com/2011/10/nest-thermostat-003.jpg" alt="">
<div class='circle'>
  <p>
    <%= @api_call['name'] %>
  </p>
  <p>
    <%= @api_call['main']['temp'] %>
  </p>
  <p>F</p>
</div>
