<html>
  <head>
    <style>
    body {
      background-color: rgba(0, 20, 60, 0.15);
      text-align: center;
      font-family: "Arial", sans-serif;
      color: black;
      position: center;
    }
    h2 {
      text-align: center;
      font-family: "Arial", sans-serif;
      color: black;
    }
    </style>
  </head>
  <body>
    <h2>Edit Image's Info</h2>

    <form action="/images/<%= @image.id %>" method="post">
      <label for="image[img_url]">Url:</label>
      <input name="image[img_url]" value="<%= @image.img_url %>">

      <label for="image[date_posted]">Date:</label>
      <input name="image[date_posted]"  value="<%= @image.date_posted %>">

      <label for="image[user_id]">User's ID:</label>
      <input name="image[user_id]" value="<%= @image.user_id %>">

      <input type="submit" value="Edit info">
    </form>
  </body>
</html>
