<h3>Add a Trainer</h3>

<form method="POST" action="/trainers">
  <label for="name">Name: </label>
  <input id="name"name="trainer[name]">
  <label for="age">Age: </label>
  <input id="age" name="trainer[age]">
  <label for="hometown">Hometown: </label>
  <input id="hometown" name="trainer[hometown]">
  <input type="submit" value="CREATE">
</form>
