<h2>The Tweed Feed</h2>

<%= link_to('Add a New Tweed', new_tweed_path) %>

<ul>
  <% @tweeds.each do |tweed| %>
    <li>
      <a href="/tweeds/ <%= tweed.id %>">
        <%= tweed.content %><br>
        <img src="<%= tweed.image_url %>">
      </a>
    </li>
  <% end %>
</ul>
