<h1>Welcome to WDInstagram!</h1>
<h4>The world's first imaging sharing site!</h4>
<p>Browse through our collection or add your own photos!</p>

<img src="http://www.picgifs.com/graphics/c/camera/graphics-camera-241088.gif" border="0" />
