<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <title>WDInstagram</title>
  </head>
  <body>
    <style>
      body {
        background-image: -webkit-linear-gradient(top, #FFD678 0%, #EF8C7C 100%);
        padding: 100px;
        font-family: 'Open Sans', sans-serif;
      }
    </style>
    <img src="http://images.cooltext.com/3817141.png" width="500" height="71" alt="WDInstagram"/><br>
    <a href="/">Home</a>
    <a href="/images">View All Images</a>
    <%= yield %>
  </body>
</html>
