<h3>Images</h3>

<a href="/images/new">Add new image</a>


<% @images.each do |image| %>
  <a href="/images/<%= image.id %>">
    <img src="<%= image.img %>">
    <h3>Date: <%= image.post_date %></h3>
    <h3>Caption: <%= image.caption %></h3>
  </a>
  <br>

<% end %>
