<h2>New Image</h2>

<form action="/images" method="post">
  <label for="image[img]">Image URL:</label>
  <input name="image[img]">


  <label for="image[caption]">Caption:</label>
  <input name="image[caption]">

  <input type="submit" value="Create">
</form>
