<h4>Update Player</h4>
<%= link_to "Back to Player List", players_path %>

<ul>
	<% @player.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>

<%= render "form", locals: { method: :put }  %>