<h2><%= @trailer.title %></h2>
<h4><%= link_to("All Trailers", trailers_path,) %></h4>
<h4><%= link_to("Edit Trailer", edit_trailer_path,) %></h4>

  <div id="video">
    <embed src=<%= @trailer.embed_url %> width=”375″ height=”225″ />
  </div>
