<h3>Edit Trainer</h3>
<form id="edit_trainer" action="/trainers/<%= @trainer.id %>" method="post">
  <label for="trainer[name]">Name:</label>
  <input type="text" name="trainer[name]" value="<%= @trainer.name %>">

  <label for="trainer[age]">Age:</label>
  <input type="text" name="trainer[age]" value="<%= @trainer.age %>">

  <label for="trainer[hometown]">Hometown:</label>
  <input type="text" name="trainer[hometown]" value="<%= @trainer.hometown %>">

  <input type="submit" value="Update">
</form>
