<h3>New Trainer</h3>
<form id="new_trainer" action="/trainers" method="post">
  <label for="trainer[name]">Name:</label>
  <input type="text" name="trainer[name]">

  <label for="trainer[age]">Age:</label>
  <input type="text" name="trainer[age]">

  <label for="trainer[hometown]">Hometown:</label>
  <input type="text" name="trainer[hometown]">

  <input type="submit" value="Create">
</form>
