<h2>New Image</h2>

<form action="/images" method="post">

  <label for="image[author]">Author:</label>
  <input id="image[author]" name="image[author]" class="box"><p>

  <label for="image[img_url]">URL:</label>
  <input id="image[img_url]" name="image[img_url]" class="box"><p>

  <label for="image[date_posted]">Date Posted (YYYY-MM-DD):</label>
  <input id="image[date_posted]" name="image[date_posted]" class="box"><p>

  <label for="image[caption]">Caption:</label>
  <input id="image[caption]" name="image[caption]" class="box"><p>

  <input type="submit" value="Create" class="button">
</form>

<a href='/images'>Back to Images</a>
