<!DOCTYPE html>
<html>
<head>
  <title>MySuiteBlarghApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>My Suite Blargh</h1>
    <img src="http://i1371.photobucket.com/albums/ag318/thrifstorejunky/10547315_10152205195637047_8479536722847749255_o_zps98cb891c.jpg"
         border="0" alt=" photo 10547315_10152205195637047_8479536722847749255_o_zps98cb891c.jpg"/>
  </header>
  <div id='post-form'></div>
  <div id='post-list'>
    <span class='add'>New Post</span>
  </div>

</body>
</html>
