<form>
  Author: <input id="author-input" type="text" name="author">
  Title: <input id="title-input" type="text" name="title">
  Content: <input id="content-input" type="text" name="content">
  Image: <input id="image-input" type="text" name="image">
  <input id="submit-button" type="submit" value="GRUMBLE">
</form>