<div id="grumble-form">
  <input name="title" placeholder="Title">
  <input name="image" placeholder="Image">
  <input name="content" placeholder="Content">
  <input name="avatar" placeholder="Avatar">
  <input name="author" placeholder="Author">
  <button id="add-grumble" name="button">Add grumble</button>
</div>
