<h2>Edit Image</h2>

<form action="/images/#{@image.id}" method="post">
  <label for="image[author]">Image Author:</label>
  <input name="image[author]">

  <label for="image[image_url]">Image URL:</label>
  <input name="image[image_url]">

  <label for="image[date_posted]">Date Posted:</label>
  <input name="image[date_posted]">

  <label for="image[caption]">Caption:</label>
  <input name="image[caption]">

  <input type="submit" value="Edit">
</form>
