<html>
  <head>
    <title>Pokedex</title>
  </head>
  <body>
    <h1>Pokedex</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/pokemons">Pokemons</a>
    <a href="/trainers">Trainers</a>
    <%= yield %>
  </body>
</html>
