<input type= "text"  id="title" name="grumble[title]" placeholder="title">
<input type= "text" id="author" name="grumble[author]" placeholder="author">
<input type= "text" id="content" name="grumble[content]" placeholder="content">
<input type= "text" id="image" name="grumble[image]" placeholder="image">
<input type= "text" id="avatar" name="grumble[avatar]" placeholder="avatar">

<button>Add Grumble</button>
