var productHTML = '<%= j(render @products)%>';
var productList = $('#products-list');
productList.empty();

<% if @products.empty? %>
  $('<h1>No Results Found</h1>').appendTo(productList);
<% else %>
  productList.empty();
  $(productHTML).slideUp().appendTo(productList);
<% end %> 