<form name='create-form' action="javascript:{{collection}}.add(newGrumble)">
  Grumble here:
  <input TYPE="text" name="title" value="Title" />
  <input TYPE="text" name="author" value="Author" />
  <input TYPE="text" name="avatar" value="Avatar Url" />
  <input TYPE="text" name="content" value="Content" />
  <input TYPE="text" name="image" value="Image Url" />
  <button TYPE="submit" name="Grumble!" ></button>
</form>
