<h2>New Image</h2>

<form action="/images" method="post">
  <label for="image[author]">Author:</label>
  <input name="image[author]">

  <label for="image[img_url]">Img URL:</label>
  <input name="image[img_url]">

  <label for="image[date_posted]">Date:</label>
  <input name="image[date_posted]">

  <label for="image[caption]">Caption:</label>
  <input name="image[caption]">

  <input type="submit" value="Create Image">
</form>
