<h1>Actor List</h1>

<%= link_to('Add Actor', new_actor_path) %><br><br>

<% @actors.each do |actor| %>
  <div>
    <%= link_to image_tag(actor.photo_url), actor_path(actor) %>
    <p><b><%= actor.name %></b></p>
  </div>
<% end %>
