<div>
  <h2>BitCoin Exchange Rates</h2>
  <p>USD: <%= @exchange["bpi"]["USD"]["rate"] %></p>
  <p>Pounds: <%= @exchange["bpi"]["GBP"]["rate"] %></p>
  <p>Euros: <%= @exchange["bpi"]["EUR"]["rate"] %></p>
  <a href="/">Refresh Results</a>
</div>
