<html>
  <head>
    <title>Bitcoin Exchange</title>
    <style>

    div {
      font-family: "Helvetica";
      text-align: center;
      margin-top: 65px;
    }

    h2 {
      letter-spacing: -2px;
    }

    a {
      color: black;
    }

    </style>
  </head>
  <body>
<%= yield %>
  </body>
</html>
