<div class="grumble">

  <div class="grumble-image">
    <img src="{{avatar}}">
  </div>

  <div class="grumble-info">
    <p>{{title}}</p>
    <p>{{author}}</p>
    <p>{{content}}</p>
    <button id="delete-grumble">Delete</button>
  </div>

</div>
