Author <input type="text" class="new-author">
Title <input type="text" class="new-title">
Avatar <input type="text" class="new-avatar">
Content <input type="text" class="new-content">
<button>Add</button>
