<h2>New Trainer</h2>

<form action="/trainers" method="post">
  <label for="trainer_name">Name:</label>
  <input id="trainer_name" name="trainer[name]">

  <label for="trainer_age">Age:</label>
  <input id="trainer_age" name="trainer[age]">

  <label for="trainer_hometown">Hometown:</label>
  <input id="trainer_hometown" name="trainer[hometown]">

  <input type="submit" value="Create">
</form>

<a href='/trainers'>Back</a>
