<h3>TIP CALCULATOR</h3>

<p>So.. to calculate your tip, please enter the total damage and tip percentage in the url bar like so:</p>
<p>localhost:4567/tip/100/20</p>
<p>And Boss.. use whole numbers.</p>
