<h2>New Tweeds</h2>

<form action="/tweeds" method="post">
  <label>Author:</label>
  <input name="tweed[author]">

  <label>Image URL:</label>
  <input name="tweed[image_url]">

  <label>Content:</label>
  <input name="tweed[content]">

  <input type="submit" value="Create">
</form>
