<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('/style.css') %>">
    <title>WDINSTAGRAMM</title>
  </head>
  <body>
    <a href="/" class="logo"><h1>WDINSTAGRAM</h1></a>
        <ul id="main_menu">
          <li><a href="/">Home</a></li>
          <li><a href="/images/new">Add Photo</a></li>
        </ul>
        <%= yield %>
  </body>
</html>
