<html>
  <head>
    <title>Pokedex</title>
  </head>
  <body>
    <img src="http://media.giphy.com/media/NpWFPy8ed5DqM/giphy.gif">
    <h1>Welcome to the Pokedex!</h1>
      <a href="/">Home</a>
      <a href="/pokemons">Pokemons</a>
      <a href="/trainers">Trainers</a><br><br>
      <%= yield %>
  </body>
</html>
