<br>
<iframe width="560" height="315" src="<%= @trailer.embed_url %>" frameborder="0" allowfullscreen></iframe>
<p><strong>Title: </strong><%= @trailer.title %></p>


<%= link_to 'Edit Trailer', edit_trailer_path(@trailer) %>
