<!DOCTYPE html>
<html>
	<head>
		<title>WDinstagram <%= @title %></title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>

	<body>
		<div id ="page">
			<h1>WDinstagram</h1>
	     <div id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/images">All Images</a></li>
					<li><a href="/images/new">New Image</a></li>
					<li><a href="/images/edit">Edit Image</a></li>
				</ul>
			</div>

      <div id ="content" >
			  <%= yield %>
      </div>
		</div>
	</body>
</html>
