<h2>Add Image</h2>
<form action="/images" method="post">
	<br>
	<label for="image[url]">Image URL</label>
	<input name="image[url]">
	<br>
	<label for="image[caption]">Caption</label>
	<input name="image[caption]">
	<br>	
	<label for="image[author]">Author</label>
	<input name="image[author]">
	<br>
	<input type="submit" value="Create">
</form>
