<a href="/trainers/new">Add a New Trainer</a>
<div>
  <% @trainers.each do |trainer| %>
    <div class="trainer">
      <h3><%= trainer.name %></h3>
      <h4><%= trainer.age %></h4>
      <h4><%= trainer.hometown %></h4>
      <a href="/trainers/<%= trainer.id %>">View Trainer</a>
    </div>
  <% end %>
</div>