<div class='trainer'>
  <form action="/trainers" method='post'>
    <div>
      <label>Name
        <input type="text" name='trainer[name]'>
      </label>
    </div>
    
    <div>
      <label>Age
        <input type="text" name='trainer[age]'>
      </label>
    </div>
    
    <div>
      <label>Hometown
      <input type="text" name='trainer[hometown]'>
      </label>
    </div>
    
    <input type="submit">
  </form>
</div>