<title>Calculator</title>

<ul>
  <li><a href="/">Home</a></li>
</ul>


<h2> Mathz Funtime </h2>
<p> Please enter two numbers as well as the binary operation you would like performed on them. <p>

<form method="GET" action="/perform_calculation">
  <label>
    First Number: <input type="text" name="first_no">
  </label>
  <label>
    Operation: <input type="text" name="operation">
  </label>
  <label>
    Second Number: <input type="text" name="second_no">
  </label>
  <input type="submit">
</form>
