
<ul>
    <li><a href='/'>Home</a></li>
</ul>
<h2> Magic 8 Ball </h2>
<p> In order to ask the magic 8 ball a question, follow the steps below: </p>
  <ol>
    <li>Formulate your question</li>
    <li>Type 'localhost:4567/magic/' into the URL bar</li>
    <li>Type your question into the URL bar following what you typed in step 2, but separate each <br>
    word with a '%' sign, e.g. 'Will I survive?' would become: 'localhost:4567/magic/Will%20I%20survive'</li>
  </ol>
