<title>Tip Calculator</title>
<ul>
  <li><a href='/'>Home</a></li>
</ul>
<p> To submit a tip query, please type 'localhost:4567/tip' into the url bar followed
  by the values separated by a '/', e.g. localhost:4567/tip/100/20 </p>
