<title>Welcome!</title>
<h2>Welcome to HAMnet!</h2>
<p> Please select one of our incredibly awesome pages above to admire and marvel at. </p>

<ul>
  <li><a href="/calculator">Calculator</a></li>
  <li><a href="/magic">Magic 8 Ball</a></li>
  <li><a href="/tip">Tip Calculator</a></li>
</ul>
