<h2>New Photo</h2>

<form action="/photos" method="post">
  <label for="photo[author]">Author:</label>
  <input name="photo[author]">

  <label for="photo[img_url]">IMG URL:</label>
  <input name="photo[img_url]">

  <label for="photo[date_posted]">Date posted:</label>
  <input name="photo[date_posted]">

  <label for="photo[caption]">Caption:</label>
  <input name="photo[caption]">

  <input type="submit" value="Create" class="create">
</form>
