<h2 class="head">Players</h2>

<div class="index">
  <p><%= link_to('World Cup Fev.r', root_path) %> </p>
  <p><%= link_to('Add a new Player', new_player_path) %> </p>

  <ul>
    <% @players.each do |player| %>
      <%= link_to(player.name, player_path(player))%>
      <img src="<%=player.photo_url%>" height="188" width ="180">
      <% end %>
  </ul>
</div>
