<div class="song-image">
  <img src="{{album_art}}">
</div>
<div class="song-info">
  <p>
    {{title}}
  </p>
  <p>
    {{artist}}
  </p>
</div>
<audio src="{{audio_url}}" type="audio/mpeg" controls autoplay>
</audio>
