Author: <input id='edit-author' value='{{author}}'>
Title: <input id='edit-title' value='{{title}}'>
Avatar: <input id='edit-avatar' value='{{avatar}}'>
Content: <input id='edit-content' value='{{content}}'>
<button id='edit'>EDIT</button>
