<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gifbomb</title>
</head>
<body>
<div><img src="http://fc01.deviantart.net/fs49/f/2009/230/0/3/Bobomb_Sploding_by_OldManRupee.gif" alt=""></div>
  <%= yield %>
</body>
</html>