<div id="smaller-titles">
  <h2>New Pictures To Add</h2>
</div>

<form action="/images" method="post">
  <div id="add_descrip">

  <label for="image[author]">Author:</label>
  <input name="image[author]"><br>

  <label for="image[img_url]">Image URL:</label>
  <input name="image[img_url]"><br>

  <label for="image[date_posted]">Date Posted:</label>
  <input name="image[date_posted]"><br>

  <label for="image[caption]">Caption:</label>
  <input name="image[caption]"><br>

  <input type="submit" value="Create New Image">
</div>

</form>
