require 'sinatra'
require 'sinatra/reloader'

<h1> Welcome to the Magic 8 Ball! </h1>
<p>Please submit a question in the URL bar.</p>
<p>Your question should be formatted as such:</p>
<p>localhost:4567/magic/Will%20I%20survive?</p>
<p>Spaces must be 'escaped' using %20.</p>
