<h1>Tip Calculator</h1>

<p> If you would like to submit a tip query,
  please put the total amount of the bil and the tip percentage
  values in the url bar (whole numbers please)
   separated by a / -localhost:4567/tip/100/20.</p>
