<h3>Pokemon!</h3>
<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <a href="/pokemons/<%= pokemon.id %>">
        <%= pokemon.name %>
      </a>
    </li>
    <% end %>
</ul>

<h6><a href="/">Back to Homepage</a></h6>
