/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Verdana;
}
header {
  z-index: -1;
}
.artist {
  float: left;
  height: 700px;
  width: 50%;
  overflow: scroll;
}
.artist img {
  height: 500px;
}
.artist .info {
  font-size: 30px;
  float:right;
  font-family: Verdana;
  font-weight: bold;
}
div.painting-show {
  float: right;
  width: 50%;
  height: 700px;
  overflow: scroll;
}
.painting {
  margin: 0 auto;
  width: 70%;
  height: 700px;
}
.painting img{
  height: 600px;
}