<div class="tractor">
  <h2><%= tractor.model %></h2>
  <h4>$<%= tractor.price %></h4>
  <div class="tractor-img">
    <img src="<%= tractor.img_url %>" alt="<%= tractor.model %>" width="300"/>
  </div>

</div>
