<div id="{{type}}" data-account="{{type}}" class="account">
  <h1>{{type}}</h1>
  <div class="display">
    <span class="balance">
      <h1>{{balance}}</h1>
    </span>
  </div>
  <div class="buttons">
    <input type="text" name="some_name" class="amount" value="">
    <button class="deposit">Deposit</button>
    <button class="withdraw">Withdraw</button>
  </div>
</div>
