<html>

    <title>Tun.r</title>
    <head>
  </head>
  <body>

    <h1>Songs</h1>
      <p>These songs will be available soon:</p>
        <ul>
          <% @featured_songs.each do |songs| %>
            <li><%= songs %></li>
        <% end %>
      </ul>

      <h4>What songs do you want to hear here?</h4>
      <form method="POST"
      action="/add_to_songs">
      <input type="text" name="song">
      <input type="submit">
    </form>

      <h4>Songs you'd like to hear</h4>
      <% @wishlist.each do |song| %>
        <%= song %><br>
      <% end %>
  </body>
</html>
