<div id="title">
  <h2>Tweeds</h2>
</div>

<div id="img">
  <ul>
    <% @tweeds.each do |tweed| %>
      <li>

        <img src="<%= tweed.image_url %>">
        <div id="p">
          <p><%= tweed.content%></p>
        </div>
        <a href="/tweeds/<%= tweed.id %>">
          <%= tweed.author %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
