<div id="title">
  <h2>New Tweed</h2>
</div>

<div id="hrefs">
  <a href="/">Home</a>
  <a href="/tweeds">Tweeds</a>
</div>

<div id="forms">
  <form action="/tweeds" method="post">
    <label for="tweed[author]">Author:</label>
    <input name="tweed[author]"><br>

    <label for="tweed[content]">Content:</label>
    <input name="tweed[content]"><br>

    <label for="tweed[image_url]">Image:</label>
    <input name="tweed[image_url]"><br>

    <input type="submit" value="Create"><br>
  </form>
</div>
