<html>
  <head>
    <link href="style.css" rel="stylesheet">
    <title>Pokedex</title>
  </head>
  <body>
    <h1><a class="home" href="/">Poke Home</a></h1>
    <ul class="menu">
      <li><a href="/pokemons">Pokedex</a></li>
      <li><a href="/trainers">Trainers</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
