
Author: <input type="text" id="author"><br>
Title: <input type="text" id="title">
Content: <input type="text" id="content">
Avatar: <input type="text" id="avatar">
Image Url: <input type="text" name="image">

<button id="create"> Create </button>
