<h2>Edit Playlist</h2>

<form action="/playlists/#{@playlist.id}" method="post">
  <label for="playlist[name]">Name:</label>
  <input name="artist[name]">

  <input type="submit" value="Create">
</form>
