<form>
  Author: <input id="author-input" type="text" name="author" value="{{author}}">
  Title: <input id="title-input" type="text" name="title" value="{{title}}">
  Content: <input id="content-input" type="text" name="content" value="{{content}}">
  Image: <input id="image-input" type="text" name="image" value="{{image}}">
  <input id="submit-button" type="submit" value="GRUMBLE">
</form>
