<!DOCTYPE html>
<html>
<head>
  <title>WorldCupFevrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_banner">
    <h1>World Cup Fev.r</h1>
    <img src="http://photo.elsoar.com/wp-content/images/FIFA-World-Cup-Brazil-2014-Facebook-Cover-E.jpg">

    <div id="menu">
      <a href="/">Home</a>
      <a href="/groups">Groups</a>
      <a href="/teams">Teams</a>
      <a href="/players">Players</a>
    </div>
  </header>
  <%= yield %>

</body>
</html>
