<!DOCTYPE html>
<html>
<head>
  <title>TwdirApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><a href="/">tWDIr</a></h1>
  <h3>tweeds from around the world</h3>
  <a href="/tweeds">Home</a>
  <a href="/tweeds/new">New</a>
<%= yield %>

</body>
</html>
