<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather Map</title>
</head>
<body>
<div><img src="http://api.openweathermap.org/data/2.5/find?q=London&units=imperial"></div>
  <%= yield %>
</body>
</html>