<h2>Players</h2>

<ul class="index-list player-list">
  <% @players.each do |player| %>
    <li>
      <%= link_to("#{player.name}", player_path(player)) %>
    </li>
  <% end %>
</ul>

<%= link_to('Add Player', new_player_path) %>
