<h2><%= @trainer.name %></h2>
<li>Age: <%= @trainer.age %><br>
<li>Hometown: <%= @trainer.hometown%><br>

 
 <a href="/trainers/<%@trainer.id%>/new"> Edit Trainer</a>
 <a href="/trainers/<%@trainer.id%>/delete"> Delete Trainer</a>