<img src="http://img2.wikia.nocookie.net/__cb20130917213339/logopedia/images/f/f8/Pok%C3%A9mon_Gotta_Catch_'Em_All_1.png" width="500" height="250">
<html>
  <head>
    <title>Pokédex</title>
  </head>
  <body>
    <h1>Pokédex</h1>
    <h2>Gotta Catch 'em All</h2>
    <a href="/">Home</a><p>
    <a href="/pokemons">Pokemon</a><p>
    <a href="/trainers">Trainer</a><p>
    <%= yield %>
  </body>
</html>
