<% @title="Calculator" %>
<h2>Calculator</h2>
<form method="POST" action="/maths">
  <label> Number:
    <input name="num1" type="text" placeholder="number" />
  </label>
  <label> Maths:
    <input name="maths" type="text" placeholder="maths" />
  </label>
  <label> Number:
    <input name="num2" type="text" placeholder="number" />
  </label>
  <label>
    <input type="submit" placeholder="GO" />
  </label>
</form>
