<!DOCTYPE html>
<html>
	<head>
		<title>Khadijah's <%= @title %></title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>

	<body>
		<div id ="page">
			<h1>Week 3 Day 3</h1>
			<ul>
				<li><a href="/welcome">Welcome</a></li>
				<li><a href="/calculator">Calculator</a></li>
				<li><a href="/magic8">Magic8</a></li>
				<li><a href="/tip">Tip Calculator</a></li>
			</ul>

			<%= yield %>
		</div>
	</body>
</html>
