<% @title="Tip Calc" %>
<h2>Tip Calculator</h2>

<p>To submit a tip query they user must put the values in the url bar (whole numbers please) </p>
<p>Each number should be separated by a / -localhost:4567/tip/100/20 </p>

<!-- <% if @params %>
<%=  @amt %>
<%=  @percent %>
<% end %> -->

<p><%=  @total %></p>
