<html>
  <head>
  </head>
  <body>
    <h1>Your Friendly HAMCalculator</h1>
    <p>Enter your first number, operator, and second number below:</p>

    <form METHOD= "POST" action= "/calc_result">
    <label>
      First Number: <input type= "integer" name= "firstnum">
    </label>
    <label>
      Operator: <input type= "operator" name= "operator">
    </label>
    <label>
      Second Number: <input type= "integer" name= "secnum">
    </label>
      <input type= "submit">
  </form>


  </body>
</html>
