<html>
  <head>
  </head>
  <body>
    <h1>HAMnet Home</h1>
    <p>Welcome to HAMnet, the multi-utility partner for the modern man, from HAMco<sup>TM</sup>!</p>
    <ul>
      <li><a href= "/calc">HAMCalculator</a></li>
      <li><a href= "/magic">HAMagic 8 Ball</a></li>
      <li><a href= "/tipcalc">Calculate A HAMTip</a></li>
    </ul>
    </body>
</html>
