<html>
  <head>
  </head>
  <body>
    <h1>HAMagic 8 Ball</h1>
    <h3>What is in <em>your</em> future? The HAMagic 8 Ball knows!</h3>
    <p>Enter your question by adding it to the end of the url, like this:</p>
    <p>  localhost:4567/magic/Will%20I%20get%20a%20pony  </p>
    <p>Make sure each 'space' in your question is replaced with a '%20'.</p>
    <p>Reload the page!</p>
  </body>
</html>
