<html>
  <head>
    <title>WDInstagram presented by HAMco by Beats by Dre by Apple</title>
  </head>
  <body>
  <a href="/"><h1>WDInstagram</h1></a>

  <p>
  <a href="/images/">Images</a>

  <%= yield %>
  </body>
</html>
