<html>
  <head>
    <title>WDInstagram presented by HAMco by Beats by Dre by Apple</title>
    <style type="text/css">
    header {
      width:100%;
      position:fixed;
      top:0px;
      background:#003300;
      height:50px;
      display: block;
      a, a:hover, a:active, a:visited { color: white; }
    }
    </style>

  </head>
  <body>
    <header align="right">
      <a href="/"><h1>WDInstagram</h1></a>
    </header>
  <p>
  <a href="/images/">Images</a>

  <%= yield %>
  </body>
</html>
