
<form method="post" action="/images/<%= @image.id %>">
  <label for="image[author]">Author:</label>
  <input name="image[author]" placeholder="author">

  <label for="image[img_url]">Image URL:</label>
  <input name="image[img_url]" placeholder="url">

  <label for="image[date_posted]">Date Posted:</label>
  <input type="date" name="image[date_posted]">

  <label for="image[caption]">Caption:</label>
  <input name="image[caption]" placeholder="caption">

  <input type="submit" value="Create">
</form>
