<!DOCTYPE html>
<html>
<head>
  <title>TWDIr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><h1>TWDIr</h1></header>
<p>tweedle </p>

<%= yield %>

</body>
</html>
