
<h1>Welcome to the World Cup Fev.r!</h1>
  <ul align="center">
  <h2><%= link_to('Groups', groups_path) %></h2>
  <h2><%= link_to('Teams', teams_path) %></h2>
  <h2><%= link_to('Players', players_path) %></h2>
  </ul>
