<h2>New Tweed</h2>

<form action="/tweeds" method="post">
  <label>Author:</label>
    <input type="text" name="tweed[author]">
  <label>Content:</label>
    <input type="text" name="tweed[content]">
  <label>Image_url:</label>
    <input type="text" name="tweed[image_url]">
    <input type="submit" value="Create">
</form>
