<h1>Show Group</h1>

<h3><%= @group.name %></h3>
<% @group.teams.each do |teams| %>
<ul>
  <li><%= link_to "#{teams.country}", team_path(teams.id) %></li>
</ul>
<% end %>
<p>
  <%= link_to "Edit Group", edit_group_path(@group.id) %>
</p>
<%= link_to "Add a Team", new_team_path %>
