
<div class="grumble-info">
  <p>
    {{author}}
  </p>
  <p>
    {{title}}
  </p>
  <div id="avatar-image">
    <img src="{{avatar}}" alt="" />
  </div>
  <p>
    {{content}}
  </p>
  <button name="delete" class="delete">delete</button>
</div>
