<br><br>
<p><h3>So you want to add your own picture? </h3></p>
<p>
  <form action="/images" method="post">
    <label for="image[author]">Posted by:</label>
    <input type="text" name="image[author]">
    <br><br>
    <label for="image[date_posted]">Date:</label>
    <input type="date" name="image[date_posted]">
    <br><br>
    <label for="image[img_url]">Image url:</label>
    <input type="text" name="image[img_url]">
    <br><br>
    <label for="image[caption]">Caption:</label>
    <textarea name="image[caption]" placeholder="Caption here"></textarea>
    <br><br>
    <input type="submit" value="click">
  </form>
</p>
