<h2>New Song</h2>
<h3>Submit your own:</h3>


<form action="/songs" method="post">
  <label for="song[title]">Title:</label>
  <input name="song[title]">

  <label for="song[album]">Album:</label>
  <input name="song[album]">

  <label for="song[preview_url]">Preview:</label>
  <input name="song[preview_url]">

  <label for="song[artist_id]">Artist's ID:</label>
  <input name="song[artist_id]">

  <label for="song[price]">Price:</label>
  <input name="song[price]">

  <input type="submit" value="Create">
</form>
<br>
</br>
<h3>Or, search the iTunes database:</h3>

<form action="/search" method="get">
  <label for="song_search">Search:</label>
  <input name="song_search">
  <input type="submit" value="search iTunes">
</form>
