<html>
  <head>
    <title>Pokemon !!!</title>
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>

  <body>
    <h1>Gotta Catch Them All !!!</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/pokemons">Pokemon Index</a>
    <a href="/trainers">Trainer Index</a>

    <%= yield %>


  </body>
</html>
