<html>
  <head>
    <title>Hamnet</title>
  </head>
  <body>
    <h1 style="text-align: center; color: cyan; border: dotted">HAMNET</h1>
    <ul>
      <li><a href="/">Welcome</a></li>
      <li><a href="/calculator">Calculator</a></li>
      <li><a href="/magic8ball">Magic 8 Ball</a></li>
      <li><a href="/tipcalculator">Tip Calculator</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
