<h2>Tip Calculator</h2>
<p>To submit a tip query, you must pass WHOLE numbers into url separated by a /</p>
<p>Use the following order:</p>
<ul>
  <li>Original Amount</li>
  <li>Tip Percentage</li>
</ul>
