<h2>New Song</h2>

<form action="/songs" method="post">
  <label for="song[title]">Name:</label>
  <input name="song[title]">

  <label for="song[album]">Album:</label>
  <input name="song[album]">

  <label for="song[preview_url]">Song Preview</label>
  <input name="song[preview_url]">

  <label for="song[artist_id]">Artist:</label>
  <input name="song[artist_id]">

  <label for="song[price]">Price:</label>
  <input name="song[price]">

  <input type="submit" value="Create">
</form>

<form action="/songs/search" method="get">
  <input name="search_entry">
  <input type="submit" value="SEARCH">
</form>
