<h2>Calculator</h2>
<p>Input two numbers and type add, subtract, multiply or divide to preform a function.</p>

<form method = "POST" action="/calculator">
  <label>
  Number 1: <input type="number" name="number1" placeholder="enter number">
  Operation: <input type="text" name="operation" placeholder="enter operation">
  Number2: <input type="number" name="number2" placeholder="enter number">
  <input type="submit">
</form>
