<h2>Magic Eight Ball</h2>
<p>To submit a question to the Magic Eight Ball, type into the URL your question separated by %20 (in th place of spaces).</p>
<p>Example: /magic_eight_ball/Will%20I%20survive</p>
