<h2>Tip Calculator</h2>

<p>To calculate a tip, enter two numbers into the URL.
Enter the total bill cost followed by a / and the tip percentage.</p>
<p>Example: to calculate 20 percent of a 100 dollar bill, enter: tip_calculator/100/20.</p>
