<h2>Welcome to HAMnet!</h2>
<p>Isn't this the bomb dot com? Please navigate to some of our super cool features below:</p>

<a href="/calculator">Calculator</a><br>
<a href="/magic_eight_ball">Magic Eight Ball</a><br>
<a href="/tip_calculator">Tip Calculator</a><br>
