<html>
  <head>
    <title>HAMnet</title>
  </head>
  <body>
    <h1>Welcome to HAMnet</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/calculator">Calculator</a></li>
      <li><a href="/magic">Magic 8 Ball</a></li>
      <li><a href="/tip">Tip Calculator</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
