<!DOCTYPE html>
<html>
<head>
  <title>HamterestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>HAMterest</h1>
  </header>
  <div id='posts-container'></div>
  <div id='forms-container'>
    <h1>Add a New Hamterest</h1>
    <div>Title<input id="new-post-title" type="text" name='title'></div>
    <div>Author<input id="new-post-author" type="text" name='author'></div>
    <div>Image<input id="new-post-image" type="text" name='image_url'></div>
    <div>Content<input id="new-post-content" type="text" name='content'></div>
    <div>Category<input id="new-post-category" type="text" name='category'></div>
    <button id='new-post'>HAM It Up!</button>
  </div>
  <%= yield %>
  <div id='footer'><h3>Show More</h3></div>
</body>
</html>
