<h2>New Playlist</h2>

<form action="/playlists" method="post">
  <label for="playlist[name]">Playlist name:</label>
  <input name="playlist[name]">


  <select>name="Existing artists:"
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>

  <select>Existing song ids of this artist:
  <option value="volvo">Volvo</option>
  </select>

  <input type="submit" value="Create">
</form>
