<html>
  <head>
    <title>Radstagram</title>
    <link rel="stylesheet" href="/radstagram.css">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/"><img src="/radstagram.png" width:"400px" height:"576px"></a><br>
      </header>
    <%= yield %>
  </div>
  </body>
</html>
