<h3>
THE ANSWER:
</h3>
<% case @operation %>
<% when "+" %>
<%= return @first_num + @second_num %>
<% when "-" %>
<%= return @first_num + @second_num %>
<% when "x" %>
<%= return @first_num + @second_num %>
<% when "&divide;" %>
<%= return @first_num + @second_num %>
<% end %>

<br>
<p>
  <a href='/calculator'>Calculate something else</a>
</p>
