<h2>what you want to calculate?</h2>

<form action='/add_to_calc' method='POST'>
<label>
  First Number:
  <input type="number" name="first_num">
</label>

<label>
  +
  <input type="radio" name="operation" value="+">
</label>

<label>
  -
  <input type="radio" name="operation" value="-">
</label>

<label>
  x
  <input type="radio" name="operation" value="x">
</label>

<label>
  &divide;
  <input type="radio" name="operation" value="&divide;">
</label>

<label>
  Second Number:
  <input type="number" name="second_num">
</label>

<input type="submit" value="do it now.">
