<title>MAGIC 8 BALL!!!!!!</title>

<h3>Ask your question.</h3>
<p>Instruction:</p>
<p>localhost:4567/your%20question%20like%20this</p>
<form action='/magic_question' method="post">
<textarea name="magic" placeholder="Your question here"></textarea>
<input type="submit">
</form>
