<h2>Paintings</h2>

<%= link_to("Add Painting", new_painting_path) %>

<ul>
  <% @paintings.each do |painting| %>
  <li>
  <%= link_to(painting.title, painting_path(painting)) %>
  </li>
  <% end %>
</ul>