<div id="new-grumble">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="content" placeholder="content">
  <input type="text" name="author" placeholder="author">
  <input type="text" name="avatar" placeholder="avatar">
  <button>GRUMBLE</button>
</div>
