<div class="main_box">
  <p>Share photos from the web!</p>
  <form class="login" method="get" action="/sign_in">
    <input type="submit" value="Log In">
  </form>
  <form class="sign_up" method="get" action="/sign_up">
    <input type="submit" value="Create Account">
  </form>
</div>
