<%= link_to('Post Tweed', new_tweed_path) %>

<% @tweeds.each do |tweed| %>

<div class="tweed">

  <%= link_to image_tag(tweed.image_url), tweed_path(tweed) %><br>
  <%= tweed.content %><br>
  <%= link_to ("Posted by: #{tweed.author} on #{tweed.created_at}"), tweed_path(tweed) %>


</div>
<% end %>
