<h2> you want to tweed </h2>

<form action="/tweeds/" method="post">
  <label for="tweeder">Tweeder:</label>
  <input id="tweeder" name="tweed[author]" placeholder="your name"><br>

  <label for="tweed">Your tweed:</label>
  <textarea id="tweed" name="tweed[content]" placeholder="your tweed"></textarea><br>

  <label for="tweedpic">Url for image:</label>
  <input id="tweedpic" name="tweed[image_url]" placeholder="your pic url"><br>



  <input type="submit" value="Create">
</form>
