<h2>New Song</h2>


<form method="post" action="/songs">
  <label for="song[title]">Title:</label>
  <input name="song[title]">

  <label for="artist[id]">Artist:</label>
  <input name="artist[id]">

  <label for="song[album]">Album:</label>
  <input name="song[album]">

  <label for="song[price]">Price:</label>
  <input name="song[price]">
</form>
