<h1>Our Suite Tractors</h1>

<%= link_to 'New Tractor', new_tractor_path %>
<hr>

<% @tractors.each do |interesting_tractor| %>
<%= render partial: 'tractor', locals: {tractor: interesting_tractor} %>
<% end %>
