<!DOCTYPE html>
<html>
<head>
  <title>GrumblrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>GrumbLR</h1>
  <div id="form-section">
    <h1>New Grumble</h1>
    <div id="form"></div>
  </div>

  <div id="grumbles-section">
    <h2>Grumblzzz</h2>
    <div id="grumble-list"></div>
  </div>
</body>
</html>
