<html>
  
    <head>
        <title>Tun.r</title>  
  </head>
  
  <body>
      <h1>Tun.r</h1>
        <li><a href="/">Home</a></li>
        <li><a href="/stuff">Stuff</a></li>
        <li><a href="/songs">Songs</a></li>
        <li><a href="/final">Final</a></li>
      <%= yield %>
  </body>
  
</html>

