
<h2>Welcome to HAMNet!</h2>
<h3>.. and the wonderful world of the interwebs!</h3>

<img src="http://media.giphy.com/media/3hRzIz4D8Ikgg/giphy.gif">
  <p>
    <b>HAMNet</b> is a subdivision of <b>HAMco International</b>,<br>
    bringing you <b>only</b> the best internets around!<br><br>
    Please, enjoy our hot, new features and share with your friends!
  </p>
