<h2>Ready to see your future?</h2>

<img src="http://www.clipartbest.com/download?clipart=9T45kgqTE">

<p>Welcome to the <b>Magic 8 Ball</b>! Here is how you use it:</p>
<ol>
  <li>Submit your question directly in the url bar above (localhost:4567/magic/My%20Query%20Here)</li>
  <li>Make sure you fill your spaces with %20 (as shown)</li>
  <li>Submit your question by hitting enter in the URL bar!</li>
</ol>
