<h2>Ready to check out?</h2>

<img src ="http://www.clipartbest.com/cliparts/7Ta/R88/7TaR887TA.jpeg">

<p>Welcome to the <b>Tip Calculator</b>! Here is how you use it:</p>
<ol>
  <li>Submit your question directly in the url bar above like so: (localhost:4567/tip_calc/100/20)</li>
  <li>Make sure you use <b>only</b> whole numbers</li>
  <li>Separate your values with a / (the first value is the bill amount, the second is the tip percentage)</li>
  <li>Submit your question by hitting enter in the URL bar!</li>
</ol>
