<h1>We're glad you're here.</h1>
<img src = "http://media.giphy.com/media/g9qyysKDM4qxq/giphy.gif">
<h2>Choose a link to get started!</h2>
<p><a href = "/calculator">Calculator</a> - bad at math? Turn that frown upside down!<br>
   <a href = "/magic">Magic 8 Ball</a> - in a sticky situation? Get advice from a pro!<br>
   <a href = "/tip_calc">Tip Calculator</a>- like your food? Figure out how much to tip your wait staff!
</p>
