<h3 class="add_photo_heading">ADD PHOTO</h3>
<div class="add_photo">
  <form action="/images" method="post">
    <label for="image[author]">AUTHOR:</label>
    <input name="image[author]">

    <label for="image[img_url]">IMAGE URL:</label>
    <input name="image[img_url]">

    <label for="image[date_posted]">DATE POSTED:</label>
    <input name="image[date_posted]">

    <label for="image[caption]">CAPTION:</label>
    <input name="image[caption]">

    <input type="submit" value="ADD PHOTO">
  </form>
</div>
