
<h4>HAMnet's Calculator</h4>

<form method="POST" action="/first_number">
	<label>
		First Number:
		<input type="text" name="first_number">
	</label>
	<label>
		Math Operator:
		<select name="Math Operator">
		<option value="-">Subtraction</option>
		<option value="+" selected>Sum</option>
		<option value="*">Multiplication</option>
		<option value="/">Division</option>
		</select>
</form>
	</label>
	<label>
		Second Number:
		<input type="text" name="second_number">
	</label>

	<input type="submit">

</form>
