<html>
  <head>
    <title>HAMnet</title>
  </head>
  <body>
    <h1>HAMnet</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/welcome">Welcome</a></li>
    </ul>
    <%= yield %>
  </body>
</html>