<h2><%= @tweed.content %></h2>
<h4>Written by: <%=@tweed.author%></h4>
<%if @tweed.image_url%>
  <img src="<%= @tweed.image_url%>" height='400' width='450'>
<%end%>

<%= link_to('Edit Your Tweeds', edit_tweed_path(@tweed))%>
