<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WDInstagram</title>
</head>
<body>
  <header><h1>WDInstagram</h1>
  <a href="/">Home</a>
  <a href="/photos/new">New</a>
  </header>
  <%= yield %>
</body>
</html>