<!DOCTYPE html>
<html>
<head>
  <title>BackboneOmdbapiApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Backbone - Omdb API</h1>
  <div id="search">
    <input type="text" class="query">
    <button class="submit">Search</button>
  </div>
  <div id="search-results">
  </div>
</body>
</html>
