<html>
  <head>
    <title>Pokedex</title>
  </head>
  <body>
    <h1>Pokedex</h1>
    <ul>
      <a href="/pokemons">Pokemons</a>
      <a href="/trainers">Trainers</a>
      <a href="/about">About</a>
      <%= yield %>
    </ul>
  </body>
</html>
