<html>
  <head>
    <title>The Poke Arena</title>
  </head>
  <body>
    <h1>Hello, Poke-Master</h1>
    <a href="/">Home</a>
    <a href="/pokemons">Pokemon!</a>
    <a href="/trainers">Trainers!</a>
    <%= yield %>
  </body>
</html>
