<form action="/#{@image.id}" method="post">
  <label for="image[author]">Image Author</label>
  <input name="image[author]">

  <label for="image[caption]">Caption</label>
  <input name="image[caption]">

  <label for="image[url]">Image URL</label>
  <input name="image[url]">

  <label for="image[date_posted]">Date Posted</label>
  <input name="image[date_posted]">

  <input type="submit" value ="Submit">
</form>
