<html lang="en">
<head>
  <title>WDInstagram</title>
  <style>
  body {background-color: #CCFFFF;}
  a: link {color: #330099;}
  img { border:1px solid #021a40;
        border-radius: 25px;}
  div {font-family: Arial;
      border: 15px solid;}

  </style
</head>
<body>
<div align ="center">
  <h1>WDInstagram</h1>
  <h2><a href="/">Home</a></h2>
  <%= yield %>
</div>
</body>
</html>
