<h3>New Image</h3>

<p class="form"><form action="/images" method="post">
  <label for="image[author]">Author:</label>
  <input name="image[author]"> <br>

  <label for="image[image_url]">Image URL:</label>
  <input name="image[image_url]"> <br>

  <label for="image[date_posted]">Date Posted:</label>
  <input name="image[date_posted]"> <br>

  <label for="image[caption]">Caption:</label>
  <input name="image[caption]"> <br>

  <input type="submit" value="Create Image">
</form> </p>
