<img src="http://image-load-balancer.worldsportshops.com/Datafeeds/Graphics/Products/ImageCache/600x600/61771.jpg"><br>


<a href="http://www.fifa.com/worldcup/matches/"><b>View the Official Schedule Here</b></a><br><br>
<p>"The 2014 FIFA World Cup is the 20th FIFA World Cup, the tournament for the men's football world championship, which is currently taking place at several venues across Brazil.<br><br>
It began on 12 June, with a group stage, and is scheduled to conclude on 13 July with the final. It is the second time that Brazil has hosted the competition, the first being in 1950. Brazil was elected unchallenged as host nation in 2007 after the international football federation, FIFA, decreed that the tournament would be staged in South America for the first time since 1978 in Argentina, and the fifth time overall.<br><br>
The national teams of 31 countries advanced through qualification competitions that began in June 2011 to participate with the host nation Brazil in the final tournament. A total of 64 matches are being played in 12 cities across Brazil in either new or redeveloped stadiums. For the first time at a World Cup finals, match officials are using goal-line technology, as well as vanishing foam for free kicks.<br><br>
All world champion teams since the first World Cup in 1930 – Argentina, Brazil, England, France, Germany, Italy, Spain and Uruguay – qualified for this competition. Title holders, Spain, were were eliminated at the group stage after losses in the first two matches. All seven previous World Cup tournaments staged in the Americas (four in South America and three in North America) were won by South American teams."</p>

<a href="http://en.wikipedia.org/wiki/2014_FIFA_World_Cup"><b>2014 FIFA World Cup on Wikipedia</b></a>
