<h2>New Tweed</h2>

<form action="/tweeds" method="post">
  <label for="tweed[author]">Author:</label>
  <input name="tweed[author]">

  <label for="tweed[content]">Content:</label>
  <input name="tweed[content]">

  <label for="tweed[image_url]">Image URL:</label>
  <input name="tweed[image_url]">

  <label for="tweed[timestamp]">Timestamp:</label>
  <input name="tweed[timestamp]">

  <input type="submit" value="Create">
</form>
