<!DOCTYPE html>
<html>
	<head>
		<title>Khadijah's Tun.r</title>
	</head>

	<body>
		<h1>Tun.r</h1>
		<p><a href="/">Home</a> | <a href="/about">About</a> | <a href="/songs">Songs</a> | <a href="/artists">Artists</a> </p> 
		<h2>This is Khadijahs's intro to app building.FUN!</h2>
			<%= yield %>
	</body>
</html>
