<html>
  <head>
    <title>WDInstagram</title>
  </head>
  <body>
    <h3>WDInstagram</h3>
    <ul>
      <a href="/wdinstagrams">Access WDInstagrams Here</a>
      <%= yield %>
    </ul>
  </body>
</html>
