<h2>New WDInstagram Page</h2>

<form action="/wdinstagrams" method="post">
  <label for="wdinstagram[author]">Author:</label>
  <input name="wdinstagram[author]">

  <label for="wdinstagram[img_url]">Image URL:</label>
  <input name="wdinstagram[img_url]">

  <label for="wdinstagram[date]">Date:</label>
  <input name="wdinstagram[date]">

  <label for="wdinstagram[caption]">Caption:</label>
  <input name="wdinstagram[caption]">

  <input type="submit" value="Create">
</form>
