Title:<input id="title" type="text" name="title" placeholder="title">
Avatar:<input id="avatar" type="text" name="avatar" placeholder="avatar">
Author:<input id="author" type="text" name="author" placeholder="author">
Content:<input id="content" type="text" name="content" placeholder="content">
<button type="submit">Add</button>
