<h3>pandas</h3>
<% @api_call['data'].each do |array| %>
<ul>
<li><a href="<%= array['url'] %>" target="_blank">
<img src="<%= array['images']['fixed_height']['url'] %>"></a>
  <%= array['images']['fixed_height']['url'] %>
<br></li>
</ul>

<% end %>
