<h2>Edit Artist</h2>

<form action="/tweeds/<%= @tweed.id %>" method="post">
  <label>Name:</label>
  <input name="tweed[author]" value="<%= @tweed.author %>">

  <label>Tweed:</label>
  <input name="tweed[content]" value="<%= @tweed.content %>">

  <label>Image URL:</label>
  <input name="tweed[image_url]" value="<%= @tweed.image_url %>">

  <input type="submit" value="Save Changes">
</form>
