<h2>Actors</h2>
<%= link_to('Add Actor', new_actor_path)%>

<% @actors.each do |actor| %>
  <p><%= actor.name %>
    <%= link_to('View', actor_path(actor)) %>
  </p>
   	<%= link_to image_tag(actor.photo_url), actor_path(actor)%>
<% end %>