<h1>Calculator</h1>

<a style="text-decoration:none;color:black;" href="/welcome">Return to Home Page</a><br>

<div style="margin-top: 1em;">
  <form  method="post" action="/calculations">
    <label>
      <input style="display:block;margin-bottom:1em;" type="text" name="first_number" placeholder="first number">
    </label>
    <label>
      <input style="display:block;margin-bottom:1em;" type="text" name="math_operation" placeholder="math operation">
    </label>
    <label>
      <input style="display:block;margin-bottom:1em;" type="text" name="second_number" placeholder="second number">
    </label>
    <label>
    <input type="submit" name="submit" value="Calculate">
    </label>
  </form>
</div>
