<h1>Welcome to HAMnet!</h1>

<ul>
  <li style="list-style-type:square">
    <a style="text-decoration:none;color:black;" href="/calculator">Calculator</a>
  </li>
  <li style="list-style-type:square">
    <a style="text-decoration:none;color:black;" href="/magic8ball">Magic 8 Ball</a>
  </li>
  <li style="list-style-type:square">
    <a style="text-decoration:none;color:black;" href="/tipcalculator">Tip Calculator</a>
  </li>
</ul>
