<div align="center">
<h2>POST IMAGE</h2>

<form action="/images" method="post" class="pure-form">
    <label for="image[author]">
    <input type="text" name="image[author]" placeholder="author name">

    <label for="image[image_url]">
    <input type="text" name="image[image_url]" placeholder="image url">

    <label for="image[date]">Date:
    <input type="date" name="image[date_posted]">

    <label for="image[caption]">
    <input type="text" name="image[caption]" placeholder="caption">

    <input type="submit" value="Post Image">
</form>
</div>
