<html>
<head>
	<title>Hamco</title>
	<link rel="stylesheet" type="text/css" href="/css/hamco_layout.css">

</head>
<body>
	<h1>HAMCO</h1>
	<a href="/">Home</a><br>
	<a href="/images">Images</a><br>
	<%= yield %>
</body>
</html>