<html>
  <head>
    <title>Pokeindex</title>
  </head>
  <body>
    <h1>Pokeindex</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pokemons">Pokemons</a></li>
      <li><a href="/trainers">Trainers</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
