var productHtml = '<%= j(render @products)%>';
var productList = $('#products-list');
productList.empty();

<% if @products.empty? %>
  $('<h1>No Results Found</h1>').fadeIn().appendTo(productList);
<% else %>
  productList.empty();
  $(productHtml).fadeIn().appendTo(productList);
<% end %>
