<html>
<head>

  <style>
  body {
    background-color: rgba(0, 20, 60, 0.15);
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgba(100, 0, 0, 1);
  }
  </style>
</head>
<body>
  <h2>Welcome to WDInstagram, a HAMco<sup>TM</sup> service!</h2>
  <a href="/images" > view all images </a>
</body>
</html>
