<%= link_to 'Movie Trailers', movie_trailers_path(@movie,@trailer) %>
<div>
	<p><%= @trailer.title %></p>
	<iframe id="ytplayer" type="text/html" width="640" height="390"
  src="<%= @trailer.embed_url %>"
  frameborder="0"/>
  <%= link_to 'Edit', edit_movie_trailer_path(@movie,@trailer) %>
</div>