<h2>Calculator</h2>

<form method="POST" action="calculate_numbers">

  <label>
    First number:
    <input type="text" name="first_number">
  </label>

  <label>
    Operation:
    <input type="text" name="operation">
  </label>

  <label>
    Second number:
    <input type="text" name="second_number">
  </label>

  <input type="submit">

</form>
