<ul>
<h5><a href="/">Back To Home</a></h5>
</ul>


<h3>Pokemons</h3>
<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <a href="/pokemon/<%= pokemon.id %>">
        <%= pokemon.name %>
      </a>
    </li>
  <% end %>
</ul>
