body {
  background: rgba(212, 212, 212,.8);
}
#gameboard-container {
  width: 730px;
  height: 635px;
  border: 20px solid blue;
  background: yellow;
  text-align: center;
  padding: 15px;
}

div.column {
  width: 100px;
  height: 600px;
  box-sizing: border-box;
  float: left;
}

div.piece {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 100%;
  float:left;
  margin: 2px;
  background: white;
}

div.hover {
  background: rgba(250,255,255,.8)
}

div.red {
  background: rgb(255,0,0);
}
div.black {
  background: rgb(0,0,0);
}
h1 {
  font-size: 50px;
  color: blue;
  font-family: Comic Sans MS;
}