body {
  background: rgba(212, 212, 212,.8);
}
#board {
  width: 730px;
  height: 635px;
  border: 20px solid blue;
  background: yellow;
  text-align: center;
  padding: 15px;
}

div.column {
  width: 100px;
  height: 600px;
  box-sizing: border-box;
  float: left;
}

.circle {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 40px;
  background-color: white;
  position: relative;
}

div.hover {
  background: rgba(250,255,255,.8)
}

div.red {
  background: rgb(255,0,0);
}
div.black {
  background: rgb(0,0,0);
}
h1 {
  font-size: 50px;
  color: blue;
  font-family: Comic Sans MS;
}