<h3>TWEEDIR</h3>
<a href="/tweeds/new" class="heading">TWEED</a>
<ul>
  <% @tweeds.each do |tweed| %>
    <li>
      <%= link_to(tweed.content, tweed_path(tweed)) %>
      <%= link_to(tweed.author, tweed_path(tweed)) %>
      <a href="tweeds/<%= tweed.id %>"><img src="<%= tweed.image_url %>"></a>
      </a>
    </li>
  <% end %>
</ul>
