<form>
  Author: <input id='author' type="text"/>
  Title: <input id='title' type="text"/>
  Content: <input id='content' type="text"/>
  Image: <input id='image' type="text"/>

  <button id='create'>Create</button>
</form>
