body {
  margin: 50px;
}

h1, h2, h3, h4, h5, h6, a, p {
  font-family: "Helvetica Neue";
  font-weight: lighter;
}

input {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}


h1 {
  text-shadow: 3px 3px #8AFFFF;
  font-size: 50px;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-shadow: 2px 2px #8AFFFF;
  letter-spacing: 8px;
}

ul {
  list-style-type: circle;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
a:hover {
  color: #ff0000;
  text-shadow: 1px 1px #8AFFFF;
  cursor: crosshair;
  text-decoration: underline;
}

a:visited {
  text-shadow: 3px 3px #ff0450;
}


nav {
  font-size: 20px;
}
