<!DOCTYPE html>
<html>
  <head>
    <title>WDInstagram</title>
    <link type="text/css" rel="stylesheet" href="<%= 'stylesheet.css' %>"/>
    <link href="<%= 'stylesheet.css' %>" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div align="center">
    <header>
      <img src="https://docs.google.com/drawings/d/1qBF9GyYUBKZOVndGQeWEJ-XNZfFvdBouQiC0sj-bmlk/pub?w=480&amp;h=360">
      <div id="navbar">
      <a href="/">HOME</a> |
      <a href="/about">ABOUT</a> |
      <a href="/images">IMAGES</a></div>
    </header>
  </div>
    <%= yield %>
  </body>
</html>
